@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Raleway:wght@900&display=swap");

:root {
  --want: rgb(90, 173, 22);
  --need: rgb(228, 163, 228);
  --rainbow: linear-gradient(
    30deg,
    rgb(255, 0, 170),
    orange,
    yellow,
    rgb(11, 230, 11),
    rgb(70, 70, 248),
    indigo
  );
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: purple;
}

nav {
  height: 7vh;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.words-two a {
  text-transform: lowercase;
}

a:visited {
  color: white;
}

section {
  height: 100vh;
  width: 100%;
}

.words-two {
  margin-left: 50px;
  margin-top: 85px;
}

.need {
  color: black;
}
.head-two {
  height: 5vh;
  text-transform: uppercase;
  text-align: center;
  top: 16.5vh;
  display: block;
  position: sticky;
}

.words-two > p {
  margin-bottom: 3rem;
}

#top {
  /* just for fun */
  /* background: var(--rainbow);
  background-size: 20px 50px; */
  background-color: black;
  color: antiquewhite;
}
#like {
  background-color: blueviolet;
  color: beige;
}

.para :nth-child(2) {
  color: rgb(243, 138, 138);
}
.para :nth-child(3) {
  color: black;
}

#want {
  background-color: var(--want);
  color: bisque;
}
#need {
  background-color: var(--need);
  color: black;
}

/* use . to declare as a class*/
.word {
  font-family: "Agbalumo";
  text-transform: uppercase;
}

p {
  font-size: x-large;
  margin-top: 2rem;
}
#save {
  font-style: italic;
  text-decoration: line-through;
}
.shape {
  position: relative;
  height: 100px;
  width: 100px;
  border: black 2px solid;
  background: rgb(48 255 23 / 25%);
  border-radius: 50%;
}
.circle {
  position: absolute;
  height: 70px;
  width: 70px;
  border: white 2px solid;
  background: rgba(128, 128, 128, 0.767);
  border-radius: 50%;
  inset: 0;
  margin: auto;
}
/* i have no idea*/
.circle1 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: green 2px solid;
  background: rgba(255, 0, 0, 0.822);
  border-radius: 30%;
  rotate: 45deg;
  inset: 0;
  margin: auto;
}

.btn {
  cursor: pointer;
  height: 36px;
  width: fit-content;
  border: white 2px solid;
  background: rgb(130, 41, 41);
  border-radius: 61px;
  font-size: larger;
  color: white;
  padding: auto 10px;
  margin-bottom: 1rem;
}

.cards {
  top: 10vh;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.red {
  color: rgb(255, 0, 0);
}

.card {
  position: relative;
  height: 300px;
  width: 200px;
  background: wheat;
  border: palevioletred 2px solid;
  border-radius: 2px;
  outline: rgb(141, 141, 4) 2px dotted;
  outline-offset: -10px;
  margin: 10px;
  box-shadow: 10px 10px 5px rgba(53, 41, 0, 0.4);
}
.top-number {
  position: relative;
  left: 12px;
  bottom: 16px;
  transition: 1s color;
}

.card-four:hover,
.card-three:hover {
  color: rgb(0, 255, 76);
}

.bottom-number {
  width: 18px;
  height: 30px;
  position: relative;
  right: -169px;
  bottom: -161px;
  rotate: 180deg;
}

.card-four {
  position: relative;
  background: linear-gradient(45deg, orange, lightblue, green);
}

.card-four::before {
  content: "❤";
  height: fit-content;
  width: fit-content;
  inset: 0;
  font-size: 128px;
  margin: auto;
  position: absolute;
}

.card-two {
  background: radial-gradient(orange, brown);
}

.card-three .bottom-number::before,
.card-three .top-number::before {
  content: "♦";
  width: 18px;
  height: 30px;
  position: absolute;
  transform: translateY(30px);
}
.card-four .bottom-number::before,
.card-four .top-number::before {
  content: "❤";
  width: 18px;
  height: 30px;
  position: absolute;
  transform: translateY(30px);
}
.card-two .bottom-number::before,
.card-two .top-number::before {
  content: "♣";
  width: 18px;
  height: 30px;
  position: absolute;
  transform: translateY(30px);
}
.card-two .bottom-number::before {
  content: "♣";
  width: 18px;
  height: 30px;
  position: absolute;
  transform: translateY(30px);
}
.club1 {
  left: 83px;
  top: -132px;
  position: relative;
  font-size: 50px;
}
.club2 {
  right: 77px;
  bottom: 8px;
  font-size: 50px;
  rotate: 180deg;
  position: absolute;
}

.queen {
  background-image: url(🃍);
  height: fit-content;
  width: fit-content;
  font-size: 218px;
  position: absolute;
  top: -221px;
  left: 29px;
}

.bigbox {
  border: 8px solid white;
  height: 300px;
  width: 900px;
  position: relative;
  top: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
}
.littlebox1,
.littlebox2,
.littlebox3 {
  border: 2px solid white;
  height: 150px;
  width: 150px;
}
.littlebox2 {
  background-color: beige;
  position: relative;
}
.littlebox2::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
  inset: 0;
}
.littlebox3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.minibox {
  border: 2px solid brown;
  height: 25px;
  width: 25px;
  background-color: brown;
  margin: 5px;
  box-shadow: 2px 2px 3px black;
}
.littlebox1 {
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: center;
}
.arrow {
  background-color: wheat;
  height: 30px;
  width: 30px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.minicircle {
  border-radius: 50%;
}
.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
